.content {
    position: relative;
    border: 1px solid black;
    width: 100%;
    /*height: 90%;*/
    top: 100px;
    display: flex;
    justify-content: space-around;
}

.tblCountryInfo {
    border-collapse:collapse;
    border: 1px solid black;
    /*margin-left: 200px;*/
    /*margin: 0 auto;*/
}

.tdRecommend {
    border:1px solid black;
    width: 500px;
    height: 30px;
}

.tdMap {
    position: relative;
    padding: 10px 10px;
}

.map {
    position: relative;
    padding-bottom: 500px;
    margin-left: 40px;
    width: 100%;
    height: 100%;
}

.tdInfo1 {
    border:1px solid black;
    width: 150px;
    height: 150px;
}

.image {
    width: 100%;
}

.gmnoprint, .gm-control-active gm-fullscreen-control {
    display: none !important;
}



.content2 {
    width: 500px;
    height: 690px;
    border: 1px solid black;
    float: left;
    margin-left: 100px;
    margin-top: 100px;
}

.btn1, .btn2 {
    background-color: #4CAF50;
    width: 100px;
}