.tbl {
    border-collapse:collapse;
    border: 1px solid black;
    margin-left: 200px;
    margin-top: 100px;
    float: left;
}

.tdRecommend {
    border:1px solid black;
    text-align: center;
    width: 500px;
    height: 30px;
}

.tdMap {
    border: 1px solid black;
}

.map {
    /*margin-left: 10px;*/
    padding-bottom: 500px;
    position: relative;
    width: 100%;
    height: 0%;
}

.tdInfo1 {
    border:1px solid black;
    width: 150px;
    height: 150px;
}

.image {
    width: 100%;
}

.gmnoprint, .gm-control-active gm-fullscreen-control {
    display: none !important;
}

.content {
    position: absolute;
    border: 1px solid black;
    width: 90%;
    height: 90%;
    top: 2%;
    left: 5%;
}

.content2 {
    width: 750px;
    height: 690px;
    border: 1px solid black;
    float: left;
    margin-left: 100px;
    margin-top: 100px;
}

.btn1, .btn2 {
    background-color: #4CAF50;
    width: 100px;
}